form.formSignIn, form.formSignUp{
    background-color: var(--light);
    margin: 0;
    margin-top: 80px;
    width: 500px;
    padding: 50px;
    overflow: hidden;

    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 5px solid #4b207e;
    margin-top: 300px;
    margin-left: 600px;
    border-radius: 40px;

}

input[type="submit"]{
  width: 110%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

.signUpContainer {
    background-color: var(--light);
    margin: 0;
    margin-top: 80px;
    width: 500px;
    padding: 50px;
    overflow: hidden;

    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 5px solid #4b207e;
    margin-top: 300px;
    margin-left: 600px;
    border-radius: 40px;
}

.user-type-container {
    display: flex;
    gap: 20px;
    font-family: Arial, sans-serif;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .radio-label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  input[type="radio"]:checked + .radio-label {
    background-color: var(--dark-medium); /* Change color when selected */
    color: white;
    border-color: var(--dark);
  }
  
  .radio-label:hover {
    background-color: #e0e0e0;
  }
  


